* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100vw;
  overflow: hidden;
  background-color: #121212;
  color: #ccc;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}