.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
}

.projectname {
  display: flex;
  justify-content: start;
  font-size: 1.2cap;
  font-weight: bold;
}

.projectdesc {
  overflow: wrap;
}

.header {
  width: 100vw;
  background-color: blue;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem 1.2rem;
  border-radius: 15px;
  background: rgb(244, 0, 0);
  width: 20rem;
}

.card p {
  overflow: wrap;
}